<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="toggle-btn" (click)="toggleSidebar()">
        <img src="app/assets/app-icon/sidebar-icon.png" alt="menu" class="sidebar-icon" />
        <span class="sidebar-icon-text" *ngIf="!isCollapsed">Menu</span>
    </div>

    <ul class="menu">
        <li routerLink="/home" routerLinkActive="active">
            <span class="icon">
                <mat-icon class="menu-icon">dashboard</mat-icon>
            </span>
            <span class="icon-text" *ngIf="!isCollapsed">Dashboard</span>
        </li>

        <li routerLink="/profile" routerLinkActive="active">
            <span class="icon">
                <mat-icon class="menu-icon">person</mat-icon> </span>
            <span class="icon-text" *ngIf="!isCollapsed">Profile</span>

        </li>

        <li routerLink="/wallet" routerLinkActive="active">
            <span class="icon">
                <mat-icon class="menu-icon">account_balance_wallet</mat-icon> </span>

            <span class="icon-text" *ngIf="!isCollapsed">Wallet</span>
        </li>

        <li routerLink="/privacySecurity" routerLinkActive="active">
            <span class="icon">
                <mat-icon class="menu-icon">lock</mat-icon>
            </span>
            <span class="icon-text" *ngIf="!isCollapsed">Privacy & Security</span>
        </li>

        <li routerLink="/help" routerLinkActive="active">
            <span class="icon">
                <mat-icon class="menu-icon">help_outline</mat-icon>
            </span>
            <span class="icon-text" *ngIf="!isCollapsed">Help</span>
        </li>

        <li routerLink="/about" routerLinkActive="active">
            <span class="icon">
                <mat-icon class="menu-icon">info</mat-icon>
            </span>
            <span class="icon-text" *ngIf="!isCollapsed">About</span>
        </li>

        <li>
            <span class="icon">
                <mat-icon class="menu-icon">dark_mode</mat-icon>
            </span>
            <span class="icon-text" *ngIf="!isCollapsed">Theme</span>
        </li>
    </ul>

    <!-- Logout -->
    <div class="logout">
        <span class="icon">
            <mat-icon class="menu-icon">logout</mat-icon>
        </span>
        <span class="icon-text" *ngIf="!isCollapsed">Logout</span>
    </div>

</div>