.core-title {
    background-color: #1B3B57;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        color: white;
        font-weight: bold;
        font-size: large;
        margin: 0;
    }
}