.navbar {
    height: 60px;
}

.navbar {
    background: linear-gradient(135deg,
            var(--app_primary_color),
            #1b3a4b);
}

.app-logo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}