.core-btn {
    background-color: var(--app_primary_color);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        background-color: #9aa5b1;
        cursor: not-allowed;
    }
}