@use './app/assets/app-styles/typography';


:root {
    --app_background_color: #CBD2F9;
    --app_primary_color: #214B69
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}