@use './app/assets/app-styles/typography';
@use './app/shared/styles/tokens';
@use './app/shared/styles/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--app-font-family);
  color: var(--app-color-text);
  background-color: var(--app-color-bg);
}
